jobs:
  include:
    - stage: test_and_lint
      language: node_js
      node_js:
        - "10"
      cache:
        directories:
          - "$HOME/.npm"
      install:
        - npm ci
      script:
        - npm run lint
        - npm run test

    - stage: fastlane_android
      language: android
      jdk: oraclejdk8
      android:
        components:
          - tools
          - platform-tools
          - android-28.0.3
      before_install:
        - openssl aes-256-cbc -K $encrypted_f54afed1def3_key -iv $encrypted_f54afed1def3_iv -in ./android/google_play_store.json.enc -out ./android/google_play_store.json -d
        - openssl aes-256-cbc -K $encrypted_2dc3e24d74d0_key -iv $encrypted_2dc3e24d74d0_iv -in ./android/secrets.tar.enc -out ./android/secrets.tar -d
        - tar xvf ./android/secrets.tar -C ./android
        - mv ./android/release.keystore ./android/app
        - yes | sdkmanager "platforms;android-28"
        - nvm install 10.16.3
        - npm ci
        - npm run preandroid
        - cd android && gem install bundler
        - bundle install
        - cd ..
      script:
        - fastlane android_alpha

stages:
  - name: fastlane_android
    if: branch = master AND type != pull_request
  - name: test_and_lint
    if: branch = master AND type = pull_request
